<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Material Resume - Edit</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" media="print" onload="this.media='all'"/>
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    </noscript>
    <link href="css/font-awesome/css/all.min.css?ver=1.2.1" rel="stylesheet">
    <link href="css/mdb.min.css?ver=1.2.1" rel="stylesheet">
    <link href="css/aos.css?ver=1.2.1" rel="stylesheet">
    <link href="css/main.css?ver=1.2.1" rel="stylesheet">
    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body class="bg-light" id="top">

  <div class="shadow-1-strong bg-white my-5 p-5" id="contact">
    <div class="contant-section">
      <h2 class="h2 fw-light text mb-4">Edit Portfolio</h2>
      <div class="row mb-4">
        <div class="col-md-5" data-aos="fade-left" data-aos-delay="200">
          <div class="mt-5 d-print-none">
            <form th:action="@{/edit}" th:object="${portfolio}" method="POST">
            <div class="form-outline mb-4">
              <input type="text" id="firstName" name="firstName" th:attr="value=${portfolio.firstName}" class="form-control" required/>
              <label class="form-label" for="firstName">First Name</label>
            </div>
            <div class="form-outline mb-4">
              <input type="text" id="lastName" name="lastName" th:attr="value=${portfolio.lastName}" class="form-control" required/>
              <label class="form-label" for="lastName">Last Name</label>
            </div>
              <div class="form-outline mb-4">
                <input type="text" id="age" name="age" th:attr="value=${portfolio.age}" class="form-control" required/>
                <label class="form-label" for="age">Age</label>
              </div>
            <button class="btn btn-info btn-block mb-4" type="submit">Submit</button>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>

    <script src="scripts/mdb.min.js?ver=1.2.1"></script>
    <script src="scripts/aos.js?ver=1.2.1"></script>
    <script src="scripts/main.js?ver=1.2.1"></script>
  </body>
</html>
